* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: 50px 100px 1fr 1fr 1fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1 / span 1;
    
    background-color: blue;
    grid-row: 1 / span 5;
}


.main_content {
    grid-column: 2 / span 4;
    grid-row: 3 / span 3;
}

.side_items {
    display: grid;
    grid-template-columns: 60px 140px;
    grid-row: 1 / 9;
}

.side_icon {
    height: 20px;
    width: 20px;
    grid-column: 1 / span 1;
    margin-bottom: 10px;
    margin-left: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(198deg) brightness(104%) contrast(102%);
}

.side_text {
    width: fit-content;
    grid-column: 2 / span 1;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#dashboard_text {
    font-size: 20px;
    margin-top: 23px;
}

#dashboard_img {
    height: 30px;
    width: 30px;
    margin-bottom: 100px;
    margin-top: 20px;
    color: white;
}

#communities_img {
    margin-bottom: 100px;
}

.top_header {
    display: grid;
    grid-template-columns: 50px 1220px 50px 100px 300px;
    width: 1720px;
    height: 75px;
}

.bottom_header {
    display: grid;
    grid-template-columns: 100px 1020px 200px 200px 200px;
    width: 1720px;
    height: 75px;
}

#magnify {
    grid-column: 1 / span 1;
}

#search_bar {
    grid-column: 2 / span 1;
}

#notifications {
    height: 20px;
    width: 20px;
    grid-column: 3 / span 1;
}

#small_profile_pic {
    height: 20px;
    width: 20px;
    grid-column: 4 / span 1;
}

#morgan {
    font-size: 20px;
    width: fit-content;
    grid-column: 5 / span 1;
}

#large_profile_pic {
    height: 40px;
    width: 40px;
    grid-column: 1 / span 1;
}

#hi {
    width: fit-content;
    grid-column: 2 / span 1;
}

#at_morgan {
    width: fit-content;
    grid-column: 2 / span 1;
}

#new {
    grid-column: 3 / span 1;
}

#upload {
    grid-column: 4 / span 1;
}

#share {
    grid-column: 5 / span 1;
}