* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 50px 100px 1fr 1fr 1fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1 / span 1;
    
    background-color: blue;
    grid-row: 1 / span 5;
}

.header {
    grid-column: 2 / span 4;
    grid-row: 1 / span 2;
}

.main_content {
    grid-column: 2 / span 4;
    grid-row: 3 / span 3;
}

.side_items {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1 / 9;
    column-gap: 10px;
}

.side_icon {
    height: 20px;
    width: 20px;
    grid-column: 1 / span 1;
}

.side_text {
    width: fit-content;
    grid-column: 2 / span 1;
}

#dashboard_text {
    font-size: 20px;
}

#dashboard_img {
    height: 30px;
    width: 30px;
}


